@using SalesWebMvc.Models.ViewModels
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">@ViewData["Title"]</h2>
<h5 class="text-danger">@Model.Message</h5>

@if (Model.ShowRequestId)
{
    <p>
        Request ID: @Model.RequestId
    </p>
}