
@model SalesWebMvc.Models.ViewModels.SellerFormViewModel;

<h2>Create</h2>

<hr/> <!--Linha horizontal em HTML-->
<div class="row"> <!-- div representa um agrupamento de elementos e row serve para agrupar colunas horizontalmente, garante que as colunas fiquem lado a lado -->
    <div class="col-md-4"> <!--Os componentes dentro do objeto col-md-4 ganham um tamanho de 4/12 na sua extensão-->
        <form asp-action="Create">
            <div class="mb-3"> <!--mb-3 aplica um espaçamento posterior aos componentes-->
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" class="form-control" /> <!--asp-for passa o valor digitado pelo usuário para o campo Name do Seller-->
            </div>
            <div class="mb-3">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Seller.BirthDate" class="control-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-select"></select>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>