
@model SalesWebMvc.Models.ViewModels.SellerFormViewModel;

<h2>Create</h2>
<h5>Seller</h5>

<hr/> <!--Linha horizontal em HTML-->
<div class="row">
    <!-- div representa um agrupamento de elementos e row é a “faixa horizontal” que ativa o sistema de 12 slots do Bootstrap -->
    <div class="col-md-3"> <!--Os componentes dentro do objeto col-md-4 ganham um tamanho de 4/12 na sua extensão-->
        <form asp-action="Create">
            <div class="mb-3"> <!--mb-3 aplica um espaçamento posterior aos componentes-->
                <label asp-for="Seller.Name" class="form-label"></label>
                <input asp-for="Seller.Name" class="form-control" /> <!--asp-for é o lugar onde se receberá o dado-->
                <span asp-validation-for="Seller.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Seller.Email" class="form-label"></label> <!--form-label estiliza label no bootstrap-->
                <input asp-for="Seller.Email" class="form-control" /> <!--form-control estiliza inputs no bootstrap-->
                <span asp-validation-for="Seller.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Seller.BirthDate" class="form-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
                <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Seller.BaseSalary" class="form-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Seller.DepartmentId" class="form-label"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-select"></select>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}